.services-page {
  background: linear-gradient(to bottom, #b8d2e9 30%, #056EA9 100%);
}

.header-section {
  background-color: #1c6c9a91;
  color: rgb(0, 0, 0);
}

.service-card {
 
  border-radius: 8px;
  transition: transform 0.2s;
}

.service-card:hover {
  transform: translateY(-5px);
  background-color: #53678d;
}
