
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;

}
/* global.css */
body {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Add glass effect */
.backdrop-blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}




.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.MuiCard-root {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid white !important; 
  border-radius: 2px; 
}

.MuiButton-root {
  text-transform: none !important;
}

.MuiTypography-root {
  font-family: 'Roboto' !important;
}

